<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ page.title }}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/screen.css" />
    <!-- This tag outputs SEO meta+structured data and other important settings -->
    {% include head.html %}
</head>
<body class="error-template">
    <div class="site-wrapper">
        {{ content }}
    </div>
</body>
</html>
